$error-cell-background-color: #d76d6d;
$const-cell-background-color: #e7e7e7;
$const-cell-font-color: #9e9e9e;
$font-color: #fff;
$font-color-entered-number: #727272;
$color-selected-button: #727272;
$background-color-selected-button: #dcdcdc;
$hover-color: #a7b4bb;
$background-color-for-ui: #4daaf6;